asn1crypto==0.24.0
configobj==5.0.6
cryptography==2.1.4
Django==3
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
Markdown==2.6.9
paramiko==2.10.1
pexpect==4.2.1
pyasn1==0.4.2
pycrypto==2.6.1
pycurl==7.43.0.1
python-xlib==0.20
pytz==2020.1
pyxdg==0.25
PyYAML==3.12
setproctitle==1.1.10
six==1.11.0
